body {
    background-color: lightblue;
    font-family: Luminari, fantasy;
    font-size: 16px;
    margin-left: 20px;
}
  
h1 {
    color: navy;
    margin-left: 20px;
    text-align: center;
    font-size: 40px;
}

button {
    background-color: white; /* Green */
    border: none;
    border-radius: 5px;
    color: black;
    margin: 8px 0;
    padding: 10px 10px;
    text-align: center;
    font-family: Luminari, fantasy;
    font-size: 16px;
    display: inline-block;
    transition-duration: 0.2s;
    cursor: pointer;
}

button:hover {
    background-color: navy; /* Green */
    color: white;
}

input {
    background-color: white; /* Green */
    border: none;
    border-radius: 5px;
    color: navy;
    margin: 2px 0;
    padding: 10px 20px;
    text-align: left;
    font-family: Luminari, fantasy;
    font-size: 16px;
    display: inline-block;
}

