:root {
    --navy: navy;
}

body {
    background-color: lightblue;
    font-family: 'Luminari', fantasy;
    font-size: 16px;
    margin-left: 50px;
}

::selection {
    color: black;
    background: white;
}
  
h1 {
    color: var(--navy);
    margin-left: 20px;
    text-align: center;
    font-size: 40px;
}

button {
    background-color: white; 
    border: none;
    border-radius: 5px;
    color: black;
    margin: 8px 0;
    padding: 10px 10px;
    text-align: center;
    font-family: 'Luminari', fantasy;
    font-size: 16px;
    display: inline-block;
    transition-duration: 0.2s;
    cursor: pointer;
    height: 40px;
}

button:hover {
    background-color: navy; 
    color: white;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

input {
    background-color: white; /* Green */
    border: none;
    border-radius: 5px;
    color: navy;
    margin: 2px 0;
    padding: 10px 10px;
    text-align: left;
    font-family: 'Luminari', fantasy;
    font-size: 16px;
    display: inline-block;
}

input[type="radio"] {
    margin: 2px 10px;
}

select{
    height: 40px;
    border: 2px solid navy;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    font-family: 'Luminari', fantasy;
    color: navy;
    background-color: white;
}
select>option{
    font-size: 18px;
    font-family: 'Luminari', fantasy;
    color: navy;
    background-color: white;
    font-size: 16px;
    height: 40px;
    padding: 15px;
    border: 2px solid navy;
}
